@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var recipePuppyJson2 = ViewData["recipePuppyJson2"];
    QuickTypeRecipe.Result[] recipePuppyRecipies = (QuickTypeRecipe.Result[]) ViewData["recipePuppyRecipies"];
    //var geniusResults = ViewData["geniusResults"];
    QuickType.Hit[] geniusResults = (QuickType.Hit[])ViewData["geniusResults"];
    var search = ViewData["SearchString"]; //Morgan added 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form action="" method="GET" >

    First name: <input type="text" name="search" value=@search> @*Morgan added "value" tag to repopulate the field with the last searched string value*@

    <input type="submit" value="Go" />

</form>

<table class="table table-striped"> @*Morgan added*@
    <thead class="thead-dark"> @*Morgan added*@
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Link</th>
        </tr>
    </thead> @*Morgan added*@
    @{
        foreach (QuickTypeRecipe.Result result in recipePuppyRecipies)
        {
            <tr>
                <td>@result.Title</td>
                <td>@result.Ingredients</td>
                <td><a href="@result.Href">@result.Href</a></td> @*Morgan added*@
            </tr>
        }
    }
</table>

<p>""</p>
<table class="table table-striped"> @*Morgan added*@
    <thead class="thead-dark"> @*Morgan added*@
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Link</th>
        </tr>
    </thead>
    @{
        foreach (QuickType.Hit hit in geniusResults)
        {
        <tr>
            <td>@hit.Result.FullTitle</td>
            <td>@hit.Result.PrimaryArtist.Name</td>
            <td><a href="@hit.Result.Url">@hit.Result.Url</a></td> @*Morgan added*@
        </tr>
        }
    }
</table>