@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    QuickTypeRecipe.Result[] recipes = (QuickTypeRecipe.Result[])ViewData["recipes"];
    //var geniusResults = ViewData["geniusResults"];
    List<QuickType.Hit> geniusResults = (List<QuickType.Hit>)ViewData["geniusResults"];
}

<div class="text-center">
    <h1 class="display-4">Recipe/Lyrics Mashup</h1>
    <p>Use the search box to find delicious recipes and songs to listen to while you cook them!</p>
</div>


<form action="" method="GET">

    Search recipes: <input type="text" name="search">

    <input type="submit" value="Get recipes" />

</form>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Link</th>
        </tr>
    </thead>
    @{
        foreach (QuickTypeRecipe.Result result in recipes)
        {
            <tr>
                <td colspan="2"><strong>@result.Title</strong></td>
                <td>@result.Ingredients</td>
                <td></td>
                <td><a href="@result.Href" target="_blank">Go to Recipe</a></td>
            </tr>
            foreach (QuickType.Hit hit in geniusResults)
            {
                <tr>
                    <td></td>
                    <td><img src="@hit.Result.HeaderImageThumbnailUrl" height="100" width="100"/></td>
                    <td>@hit.Result.FullTitle</td>
                    <td>@hit.Result.PrimaryArtist.Name</td>
                    <td><a href="@hit.Result.Url" target="_blank">Go to Lyrics</a></td>
                </tr>
            }
            
        }
    }
</table>


@*Expand collapse row credit: https://stackoverflow.com/questions/16926752/expand-collapse-table-rows-with-jquery*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('tr').hide().filter(function () {
            return $(this).find('td[colspan]').length;
        }).addClass('header')
            .css('display', 'table-row')
            .click(function () {
                $(this).nextUntil('tr.header').css('display', function (i, v) {
                    return this.style.display === 'table-row' ? 'none' : 'table-row';
                });
            });
    });
</script>  