@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var recipePuppyJson2 = ViewData["recipePuppyJson2"];
    Recipe.Result[] recipePuppyJson = (Recipe.Result[]) ViewData["recipePuppyJson"];
    //var geniusResults = ViewData["geniusResults"];
    Search.Hit[] geniusResults = (Search.Hit[])ViewData["geniusResults"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form action="" method="GET">

    First name: <input class="form-group" type="text" name="search">

    <input class="btn-primary" type="submit" value="Go" />

</form>

<table>
    <tr>
        <th>Title</th>
        <th>Ingredients</th>
        <th>Link</th>
    </tr>
    @{ 
        foreach (Recipe.Result result in recipePuppyJson)
        {
            <tr>
                <td>@result.Title</td>
                <td>@result.Ingredients</td>
                <td>@result.Href</td>
            </tr>
        }
    }
</table>

<p>""</p>
<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Link</th>
    </tr>
    @{
        foreach (Search.Hit hit in geniusResults)
        {
            <tr>
                <td>@hit.Result.FullTitle</td>
                <td>@hit.Result.PrimaryArtist.Name</td>
                <td>@hit.Result.Url</td>
            </tr>
        }
    }
</table>